<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rumenahmedrazu.defensejobpreparationbangladesh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".issbact"></activity>
        <activity android:name=".Armycareer" />
        <activity android:name=".Ranksnavy" />
        <activity android:name=".Ranksair" />
        <activity android:name=".ChiefAir" />
        <activity android:name=".Chiefnavy" />
        <activity android:name=".Maintainance" />
        <activity android:name=".Ranksarmy" />
        <activity android:name=".Chiefarmy" />
        <activity android:name=".Airforcehistory" />
        <activity android:name=".Navyhistory" />
        <activity android:name=".Armyhistory" />
        <activity android:name=".Preparation" />
        <activity android:name=".Navy" />
        <activity android:name=".Airforce" />
        <activity android:name=".Army" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>